.navigation {
  text-align: center;
  flex-grow: 1;
}

.actions {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    color: var(--dark-blue);
}

.actions a {
    color: inherit;
}

.litePaper {
  padding: 2rem;
  width: 100%; 
}

.viewerContainer {
  padding: 2rem;
  width: 100%;
}

.viewerContainer > canvas {
  max-width: 800px;
  margin: 0 auto;
  display: block;
}
